<div class="main">
<h1>Tracks</h1>
<p>
  Tracks is student projet.
  <br/>
  The goal is to create and manage playlist for Dj set.
  <br/>
  This project is open source.
</p>
  <div class="link">
    <a mat-stroked-button href="https://github.com/maximeancellin/Tracks" target="_blank">Github</a>
    <a mat-stroked-button href="https://www.spotify.com/" target="_blank">Spotify</a>
    <a mat-stroked-button href="https://www.linkedin.com/in/maxime-ancellin-3122b5112/" target="_blank">Linkedin</a>
  </div>
</div>
