<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened class="side-container">
    <mat-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add playlist
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form novalidate #createPlaylistForm="ngForm" (ngSubmit)="createPlaylist(createPlaylistForm)" >
        <mat-form-field>
          <input matInput placeholder="Name" name="name" required [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Description" name="description" [(ngModel)]="description">
        </mat-form-field>
        <button mat-stroked-button class="add-button" color="accent" type="submit" [disabled]="!createPlaylistForm.form.valid">Create</button>
        </form>
      </mat-expansion-panel>
      <h3 mat-subheader>Playlists</h3>
      <mat-list-item *ngFor="let playlist of data.items">
        <h4 mat-line (click)="loadDatas(playlist.id)">{{playlist.name}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-result [data]="tracks.items" [type]=0></app-result>
  </mat-drawer-content>
</mat-drawer-container>
