.connect-box {
  text-align: center;
  color: white;
}

.card {
  max-width: 400px;
  text-align: center;
  background-color: grey;
}

.center{
  width: 75%;
  margin: 10px auto;
}

.content{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
